:root {
  --color-main: rgb(0, 100, 255);
  --color-main-dark: rgb(0, 80, 201);

  --color-altern: rgb(255, 220, 0);
  --color-altern-dark: rgb(255, 200, 0);
  
  --color-white-ligth: rgb(210, 210, 210);

  --color-dark-ligth: rgb(50, 50, 50);
  --color-dark-ligth-2: rgb(150, 150, 150);
}

* {
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  /* border: 2px solid blue; */
  margin: 0;
}

p {
  font-size: 18px;
  color: var(--color-dark-ligth);
}

a {
  font-size: 18px;
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 70px;
  margin: 0;
  font-size: 30px;
}

h4 {
  font-size: 20px;
  margin: 0;
}

button {
  background-color: var(--color-altern);
  border: none;
  font-family: "Bricolage Grotesque", sans-serif;
  width: fit-content;
  font-size: medium;
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--color-dark-ligth);
}

button:hover {
  cursor: pointer;
  background-color: var(--color-altern-dark);
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* container */

.container {
  width: 90%;
  max-width: 1200px;
}

.container__main .info {
  margin: 35px 0;
}

/* block */

.block {
  width: 100%;
}

/* =========== HEADER ==================== */

header {
  background-color: var(--color-main);
  min-height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  display: flex;
  z-index: 30;
  justify-content: center;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

header a {
  color: inherit;
  text-decoration: none;
}

header .logo {
  font-size: xx-large;
  height: 100%;
  width: 250px;
  display: flex;
}

header .logo img {
  width: 100%;
  padding: 10px;
}

header .logo a {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav ul {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

nav a{
  padding: 6px;
  border-radius: 4px;
}

nav a:hover{
  background-color: var(--color-main-dark);
}

/* ========== MAIN ===================== */

main {
  flex: 1;
}

.container__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px auto 20px;
}

/* BLOC-WELCOME */

.block__welcome {
  height: 600px;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1752401369012-703dcd9e763d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDM0fHx8ZW58MHx8fHx8");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.block__welcome p {
  color: inherit;
}

.block__welcome::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 23%,
      rgba(0, 0, 0, 0.65) 100%);
}

.block__welcome .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 25px;
  position: relative;
  z-index: 2;
  margin: auto;
}

.block__welcome h1 {
  margin-bottom: 20px;
}

/* BLOCk-CONTACT */

.block__contact {
  background-color: var(--color-altern);
  padding: 26px 0;
}

.block__contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.block__contact h2 {
  color: var(--color-main);
}

.block__contact button {
  color: white;
  background-color: var(--color-main);
}

.block__contact button:hover {
  background-color: var(--color-main-dark);
}

.block__contact form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.block__contact form input,
.block__contact form textarea {
  background-color: white;
  padding: 4px 16px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid;
  border-color: var(--color-dark-ligth-2);
  outline: none;
  width: 100%;
}

.block__contact textarea:focus-within,
.block__contact input:focus-within {
  border-color: var(--color-main);
}

/* card */


.card__container {
  width: 100%;
  display: grid;
  margin-bottom: 50px;
  gap: 25px;
  grid-template-columns: 1fr;
}

.card {
  height: 500px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.card__context {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 90%);
  padding: 18px;
}

.card__title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 14px;
}

.card__text {
  margin: 0;
  line-height: 1.5;
  color: #ccc;
}

/* CONTAINER-MAIN--FINAL */

.container__main--final {
  text-align: center;
}

.container__main--final i {
  color: var(--color-main);
  padding-right: 5px;
  font-size: 22px;
}

/* =============================== */


footer {
  background-color: var(--color-main);
  min-height: 70px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

footer a {
  color: inherit;
}

footer p {
  color: var(--color-white-ligth);
  margin: 0;
}

footer a {
  margin: 0;
}

footer .sub {
  margin-left: 25px;
  margin-bottom: 10px;
  display: list-item;
  list-style-type: disc;
  color: var(--color-white-ligth);
}

.container__footer p,
.container__footer a {
  margin-bottom: 0;
  margin-top: 15px;
}

.footer__block {
  background-color: rgba(0, 0, 0, 0.15);
  margin: 25px 0;
  text-align: center;
  padding: 16px;
}

.footer__icons {
  border-bottom: 2px solid white;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 20px 0 10px;
  margin-bottom: 17px;
}

.footer__icons a:hover{
  color: var(--color-altern);
}

.footer__icons i {
  font-size: 26px;
}

.footer__details__container {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.footer__detail {
  display: flex;
  flex-direction: column;
}

footer h4 {
  text-align: left;
  width: fit-content;
  border-bottom: 2px solid var(--color-altern);
  margin-bottom: 15px;
}

@media (min-width: 1024px) {


  header {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 10px;
    max-width: 1200px;
  }

  .container__header {
    flex-direction: row;
  }

  .block__contact .container {
    width: 50%;
  }

  .card__container {
    width: 65%;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }



  .footer__details__container {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  footer .container {
    width: 50%;
  }

}